$gray: rgb(124, 122, 121);
$lightGray: rgb(153, 152, 152);
$darkGray: rgb(83, 83, 83);
$green: #08a021;
$lightGreen: #13c731;
$darkGreen: #0c8820;
$red: rgb(245, 9, 9);
$darkRed: rgb(211, 8, 8);
$lightRed: rgb(253, 57, 57);
$boxShadow: 2px 2px 2px
  rgba(
    $color: #000000,
    $alpha: 0.5,
  );
